@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
    --main-font: 'Bai Jamjuree', sans-serif;
    --strong-cyan: ;
    --light-blue: ;

    --dark-grayish-blue: ;
    --grayish-blue: ;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    font-weight: 400;
}

